ios/Pods
node_modules
ios/build
ios/MyApp.xcworkspace/xcuserdata
ios/MyApp.xcodeproj/xcuserdata
ios-release.bundle
ios-release.bundle.map
ios-debug.bundle
ios-debug.bundle.map
android/.gradle
android/app/build
android/build
android/.idea
MyApp.iml
app.iml
local.properties
